# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tu_password_aqui
DB_NAME=salux_db

# Prisma (construida a partir de las variables de arriba)
DATABASE_URL="postgresql://postgres:tu_password_aqui@localhost:5432/salux_db?schema=public"

# JWT
JWT_SECRET=salux_super_secret_key_cambiame_en_produccion

# App
PORT=3000
NODE_ENV=development
